body, html {
    height: 100%;
    background-color: #f3f4f6;
}

.main-container {
    height: 100%;
    width: 100%;
    max-width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    
}
header {
    margin: 50px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

hr {
    border: none; /* Убираем границу */
    background-color: black; /* Цвет линии */
    color:black; /* Цвет линии для IE6-7 */
    height: 6px; /* Толщина линии */
    width: 750px;
   }
  
